//Screen Sizes
$mobile-min-breakpoint: 320px;
$tablet-min-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Primary Colors
$primary-brainFlix-black: #323232;
$primary-brainFlix-blue: #0095FF;
$primary-brainFlix-silver: #AFAFAF;
$primary-brainFlix-white: #FFFFFF;

//Secondary Colors
$secondary-brainFlix-darkblack: #000000;
$secondary-brainFlix-darkblue: #0065AD;
$secondary-brainFlix-mercury: #E1E1E1;
$secondary-brainFlix-albarster: #FAFAFA;
