@font-face {
    font-family: "AvenirRegular";
    font-weight: 400;
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff2");
}

@font-face {
    font-family: "AvenirDemi";
    font-weight: 600;
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("woff2");
}

@font-face {
    font-family: "AvenirBold";
    font-weight: 700;
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff2"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("woff2");
}